@font-face {
    font-family: 'Aspekta';
    src: url('/fonts/Aspekta-500.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'Supreme';
    src: url('/fonts/Supreme-Variable.ttf') format('truetype');
  }
  